<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>amit.com</title>
    <link rel="stylesheet" href="../public/home.css">
</head>
<body>
    <div class="main-contaner">
        <div class="navbar">
            <p class="logo"><span class="spn">A</span>mit</p>
            <input type="search" placeholder="ðŸ”search or type url" class="srch-box">
            <div class="link">
                <ul>
                    <li><a href="/home" class="anchor">Home</a></li>
                    <li><a href="http://localhost/product" class="anchor">Product</a></li>
                    <li><a href="#" class="anchor">Contact as</a></li>
                    <li><a href="/" class="anchor">Log-Out</a></li>
                </ul>    
            </div>
        </div>
        <div class="title-contaner">
            <div class="title">
                <h2 class="heading">Give Your Workout<br> A New Style!</h2>
                <p class="story">Success isn't alwayes about greatness.It's about consistency.Consistent hard work gains success.Greatness will come.</p><hr/>
            </div>
            <img class="img" src="../public/img/image1.png">
           
       
           
        </div>
        <footer class="futr"><h3 class="foter">@copyright 2023 amit.com</h3></footer>
    </div>
</body>
</html>